.nav{
    grid-area: n;
    padding-left: 20px;
    background-color: ForestGreen;
  }

  .item a {
      color: white;
      font-size: 30px;
      text-decoration: none;
  }

  .item a.activeLink{
    color: gold;
  }